
.table-name {
	color: #5F5F5F;
}

.container {
	color: #5F5F5F;
}

.description {
	margin-top: 50px;
	

	.intro-paragraph {
		font-size: 18px;

	}
	.details {
		margin-top: 50px;
		.feature-lists {
			.list-group-item {
				background-color: #FAFAFA !important;
			}
		}
	}

}

.customize {
	.color {
		width: 100%;

		.cream {
			background-color: #FEEAB6;
		}
	}
}